
.wp-block-post-content {
  @import "variables.scss";
  @import "lib/bootstrap-reboot.scss";
  @import "lib/bootstrap-grid.scss";

  //components
  @import "components/button.scss";
  @import "components/_typography.scss";
  @import "main.scss";

  @import "blocks/intro-section.scss";
  @import "blocks/experience-section.scss";
  @import "blocks/cta-section.scss";
  @import "blocks/special-events-section.scss";
  @import "blocks/league-section.scss";
  @import "blocks/featured-on-section.scss";
  @import "blocks/info-section.scss";
  @import "blocks/quote-section.scss";
  @import "blocks/local-events-section.scss";
  @import "blocks/local-league-section.scss";
  @import "blocks/brewery-selection-section.scss";
  @import "blocks/gift-posts-section.scss";
  @import "blocks/seo-section.scss";
  @import "blocks/keywords-slider-section.scss";
  @import "blocks/event-planning-section.scss";
  @import "blocks/safety-section.scss";
  @import "blocks/intro-booking-section.scss";
  @import "blocks/how-to-play-section.scss";
  @import "blocks/join-league-section.scss";
  @import "blocks/schedule-section.scss";

  .text-red {
    color: $red;
  }

  .text-blue {
    color: $blue;
  }

  .text-light-blue {
    color: $light-blue;
  }

  .splide {
    visibility: visible;
  }

  .splide__slide:not(:first-child) {
    display: none;
  }

  .splide__slide:first-child {
    flex-shrink: 1 !important;
  }
}

html :where(.wp-block) {
  max-width: 1200px;
}
