
.wp-block-post-content {
  @import "app.scss";
  @import "blocks/intro-section.scss";
  @import "blocks/experience-section.scss";
  @import "blocks/cta-section.scss";
  @import "blocks/special-events-section.scss";
  @import "blocks/league-section.scss";
  @import "blocks/featured-on-section.scss";

  .text-red {
    color: $red;
  }

  .text-blue {
    color: $blue;
  }

  .text-light-blue {
    color: $light-blue;
  }
}

html :where(.wp-block) {
  max-width: 1200px;
}
