.experience-section {
  position: relative;
  padding: 70px 0;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../images/sketchgrain.png);
    mix-blend-mode: screen;
  }

  &__image-col {
    @media (max-width: 767.98px) {
      padding: 0;
      margin-bottom: 40px;
    }
  }
}
