@import "../variables.scss";

.stars-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 1;

  &::before {
    content: '⭐⭐⭐⭐⭐';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #FCD503 var(--percent), $dark-gray var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.featured-on-section {
  position: relative;
  overflow: hidden;
  padding: 70px 0;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../images/sketchgrain.png);
    mix-blend-mode: screen;
  }

  .splide {
    &__arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: 100%;
      display: flex;

      justify-content: space-between;
      align-items: center;
    }

    &__arrow {
      color: $blue;
      cursor: pointer;
      border: none;
      background-color: transparent;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.7;
      }

      &--prev {
        margin-left: -60px;
      }

      &--next {
        margin-right: -60px;
      }
    }
  }
}

.google-review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: $white;
  text-align: center;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-gray;


  @media (min-width: 992px) {
    max-width: 228px;
    margin: 0 auto;
    //box-shadow: -8px -4px 32px rgba(0, 0, 0, 0.08), 40px 28px 80px rgba(0, 0, 0, 0.08);
  }

  &__icon {
    margin-bottom: 10px;
  }

  &__text {
    color: $dark-gray;
    margin: 32px 0;
  }

  &__author {
    font-style: italic;
    margin-bottom: 4px;
  }

  &__link {
    color: #4285F4;
  }
}

.global-score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  padding: 32px;
  text-align: center;
  box-shadow: -8px -4px 32px rgba(0, 0, 0, 0.08), 40px 28px 80px rgba(0, 0, 0, 0.08);
  border-radius: 16px;

  @media (min-width: 992px) {
    max-width: 190px;
    margin: 0 auto;
  }

  &__score {
    position: relative;
    display: inline-block;
    margin-bottom: 16px;

    > span {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 26px;
      color: #4285F4;
    }
  }

  &__button {
    display: inline-block;
    background-color: #4285F4;
    color: $white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 16px;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: $white;
      background-color: rgba(#4285F4, 0.8);
    }
  }
}

.featured-on {
  margin-top: 80px;

  &__title {
    color: $blue;
  }

  &__item {
    display: inline-block;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-bottom: 40px;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }

    &:hover {
      //opacity: 0.7;
      transform: scale(1.1);
    }
  }

}
