@import '../variables.scss';
@import "../lib/splide.scss";

.intro-section {
  position: relative;
  background-color: $brown;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  & + figure.wp-block-gallery, & + .wp-block-cover {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-size: 60px;
    color: $white;
  }

  .splide {

    &__slide {
      visibility: visible;
      //min-height: 370px;
      //background-size: cover;
      //width: 100%;

      @media (min-width: 768px) {
        //min-height: 540px;
      }
    }

    &__arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__arrow {
      color: $white;
      cursor: pointer;
      border: none;
      background-color: transparent;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
