@import "../variables.scss";
@import "../lib/splide.scss";

.stars-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 1;

  &::before {
    content: '⭐⭐⭐⭐⭐';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #FCD503 var(--percent), $dark-gray var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.quote-section {
  background-color: $blue;
  color: $white;
  padding: 40px 0;

  .splide {
    text-align: center;

    &__slide {
      transform: translateX(0) !important;
    }
  }

  .quote {
    &__title {
      text-transform: uppercase;
      color: $yellow;
      margin-bottom: 25px;
    }

    &__rating {
      line-height: 1;
      font-size: 30px;

      &::before {
        content: '★★★★★';
        background: linear-gradient(90deg, $yellow var(--percent), $dark-gray var(--percent));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &__text {
      font-size: 30px;
      font-family: $prohibition;
      margin: 15px 0;

      @media (min-width: 768px) {
        font-size: 50px;
      }
    }

    &__author {
      font-size: 20px;
      font-weight: 300;
      margin-top: 20px;
    }
  }
}
