@import '../variables.scss';

.safety-section {
  position: relative;
  overflow: hidden;
  padding: 0 0 80px 0;
  background-color: $blue;
  color: $white;

  @media (min-width: 998px) {
    padding: 80px 0;
  }

  &__title {
    font-family: $prohibition;
  }

  &__img {
    mix-blend-mode: luminosity;
    margin-bottom: 40px;
    width: 100%;
  }


  &__picture {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
    height: 500px;

    @media (min-width: 998px) {
      margin-right: 52%;
      width: 48%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
    }
  }

  &__text {
    margin-bottom: 30px;

    ul {
      font-size: 26px;
      padding-left: 0;
      list-style: none;

      > li {
        position: relative;
        display: flex;
        font-weight: 600;
        padding-left: 32px;
        margin-bottom: 16px;
      }

      > li::before {
        display: inline-flex;
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-right: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='21' viewBox='0 0 22 21' fill='none'%3E%3Cpath d='M11 0L13.5967 7.99197H22L15.2016 12.9313L17.7984 20.9232L11 15.9839L4.20163 20.9232L6.79837 12.9313L0 7.99197H8.40325L11 0Z' fill='%23E4BF65'/%3E%3C/svg%3E");
      }
    }
  }

  &__btn {
    &:hover,
    &:focus {
      background-color: $white;
      color: $blue;
    }
  }
}
