@import "../variables.scss";

.seo-block-section {
  position: relative;
  padding: 50px 0;
  z-index: 1;

  &--pattern {
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      mix-blend-mode: overlay;
      pointer-events: none;
      background-image: url('../images/sketchgrain.png');
    }
  }

  &--white {
    background-color: rgba($white, 0.8);
  }

  &--blue {
    background-color: $blue;
    color: $white;

    .seo-block-section__title {
      color: $white;
    }
  }

  &--gray {
    background-color: $light-gray;

    .seo-block-section__subtitle {
      font-family: $headings-font-family-30;
      font-size: 30px;
    }
  }


  @media (min-width: 768px) {
    padding: 80px 0;
  }

  &__title {
    text-align: center;
    color: $blue;
  }

  &__subtitle {
    font-weight: 800;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media (min-width: 998px) {
      max-width: 30%;
    }
  }

  &__text {
    margin-bottom: 30px;
    margin-top: 0;
    @media (min-width: 768px) {
      margin-top: 30px;
      margin-bottom: 0;
    }

    > ul {
      > li {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__link {
    margin-top: 30px;
  }

  &__notice {
    margin-top: 16px;
  }
}
