.pc-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 800;
  padding: 16px 32px;
  line-height: 0.9;
  font-family: $body-font-family;
  border-radius: 20px;
  background-color: $blue;
  cursor: pointer;
  color: $white;
  min-width: 180px;
  border: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover, &:focus {
    color: $white;
    background-color: $red;
  }

  &--red {
    background-color: $red;
    border: none;

    &:hover, &:focus {
      color: $white;
      background-color: $blue;
    }
  }

  &--outline {
    background-color: transparent;
    border: 2px solid $blue;
    border-radius: 10px;
    padding: 8px 18px;
    font-weight: 600;
    color: $blue;

    &:hover, &:focus {
      color: $white;
      background-color: $blue;
    }
  }

  &--small {
    min-width: 125px;
  }
}
