/*DIN 2014*/
@font-face {
  font-family: 'DIN 2014';
  src: url('../fonts/din2014/DIN2014-Regular.woff2') format('woff2'),
  url('../fonts/din2014/DIN2014-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: 'DIN 2014';
//  src: url('../fonts/din2014/DIN2014-ExtraBold.woff2') format('woff2'),
//  url('../fonts/din2014/DIN2014-ExtraBold.woff') format('woff');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'DIN 2014';
//  src: url('../fonts/din2014/DIN2014-ExtraBoldItalic.woff2') format('woff2'),
//  url('../fonts/din2014/DIN2014-ExtraBoldItalic.woff') format('woff');
//  font-weight: bold;
//  font-style: italic;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'DIN 2014';
//  src: url('../fonts/din2014/DIN2014-ExtraLight.woff2') format('woff2'),
//  url('../fonts/din2014/DIN2014-ExtraLight.woff') format('woff');
//  font-weight: 200;
//  font-style: normal;
//  font-display: swap;
//}

@font-face {
  font-family: 'DIN 2014';
  src: url('../fonts/din2014/DIN2014-Italic.woff2') format('woff2'),
  url('../fonts/din2014/DIN2014-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

//@font-face {
//  font-family: 'DIN 2014';
//  src: url('../fonts/din2014/DIN2014-DemiBold.woff2') format('woff2'),
//  url('../fonts/din2014/DIN2014-DemiBold.woff') format('woff');
//  font-weight: 600;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'DIN 2014';
//  src: url('../fonts/din2014/DIN2014-DemiBoldItalic.woff2') format('woff2'),
//  url('../fonts/din2014/DIN2014-DemiBoldItalic.woff') format('woff');
//  font-weight: 600;
//  font-style: italic;
//  font-display: swap;
//}

@font-face {
  font-family: 'DIN 2014';
  src: url('../fonts/din2014/DIN2014-Light.woff2') format('woff2'),
  url('../fonts/din2014/DIN2014-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: 'DIN 2014';
//  src: url('../fonts/din2014/DIN2014-ExtraLightItalic.woff2') format('woff2'),
//  url('../fonts/din2014/DIN2014-ExtraLightItalic.woff') format('woff');
//  font-weight: 200;
//  font-style: italic;
//  font-display: swap;
//}

@font-face {
  font-family: 'DIN 2014';
  src: url('../fonts/din2014/DIN2014-LightItalic.woff2') format('woff2'),
  url('../fonts/din2014/DIN2014-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DIN 2014';
  src: url('../fonts/din2014/DIN2014-Bold.woff2') format('woff2'),
  url('../fonts/din2014/DIN2014-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN 2014';
  src: url('../fonts/din2014/DIN2014-BoldItalic.woff2') format('woff2'),
  url('../fonts/din2014/DIN2014-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/*END DIN 2014*/

/*Knockout*/

//@font-face {
//  font-family: 'Knockout 30 Junior Welterwt';
//  src: url('../fonts/knockout/Knockout-30JuniorWelterwt.woff2') format('woff2'),
//  url('../fonts/knockout/Knockout-30JuniorWelterwt.woff') format('woff');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Knockout 33 Junior Heviwt';
//  src: url('../fonts/knockout/Knockout-33JuniorHeviwt.woff2') format('woff2'),
//  url('../fonts/knockout/Knockout-33JuniorHeviwt.woff') format('woff');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}

@font-face {
  font-family: 'Knockout 68 Full Featherwt';
  src: url('../fonts/knockout/Knockout-68FullFeatherwt.woff2') format('woff2'),
  url('../fonts/knockout/Knockout-68FullFeatherwt.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: 'Knockout 32 Junior Cruisewt';
//  src: url('../fonts/knockout/Knockout-32JuniorCruisewt.woff2') format('woff2'),
//  url('../fonts/knockout/Knockout-32JuniorCruisewt.woff') format('woff');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Knockout 69 Full Liteweight';
//  src: url('../fonts/knockout/Knockout-69FullLiteweight.woff2') format('woff2'),
//  url('../fonts/knockout/Knockout-69FullLiteweight.woff') format('woff');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Knockout 67 Full Bantamwt';
//  src: url('../fonts/knockout/Knockout-67FullBantamwt.woff2') format('woff2'),
//  url('../fonts/knockout/Knockout-67FullBantamwt.woff') format('woff');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Knockout 31 Junior Middlewt';
//  src: url('../fonts/knockout/Knockout-31JuniorMiddlewt.woff2') format('woff2'),
//  url('../fonts/knockout/Knockout-31JuniorMiddlewt.woff') format('woff');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Knockout 34 Junior Sumo';
//  src: url('../fonts/knockout/Knockout-34JuniorSumo.woff2') format('woff2'),
//  url('../fonts/knockout/Knockout-34JuniorSumo.woff') format('woff');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Knockout 66 Full Flyweight';
//  src: url('../fonts/knockout/Knockout-66FullFlyweight.woff2') format('woff2'),
//  url('../fonts/knockout/Knockout-66FullFlyweight.woff') format('woff');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}

@font-face {
  font-family: 'Knockout 70 Full Welterwt';
  src: url('../fonts/knockout/Knockout-70FullWelterwt.woff2') format('woff2'),
  url('../fonts/knockout/Knockout-70FullWelterwt.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

