.pc-header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  height: 100px;
  background-color: #e5e2db;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: height .3s ease-in-out;

  @media (min-width: 768px) {
    padding-top: 13px;
    height: 165px;
  }

  &.fixed {
    @media (min-width: 768px) {
      height: 100px;
      padding-top: 10px;
      transition: height .3s ease-in-out;
      .pc-logo {
        > img {
          display: none !important;
        }

        > svg {
          display: inline-block !important;
        }
      }
    }
  }

  &__container {
    @media (max-width: 1199.98px) {
      max-width: 100%;
    }
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 13px;
    width: 100%;
    background-image: url("../images/diagonals-blue.png");
    background-size: cover;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    @media (min-width: 992px) {
      flex-direction: row;
    }
  }
}

.pc-logo {
  display: inline-block;
  @media (min-width: 992px) {
    margin-right: 40px;
  }

  > img {
    object-fit: cover;
  }
}

.pc-top-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $blue;
  border-bottom: 1px solid #ABABAB;

  > li {
    position: relative;
    margin-right: 30px;
    padding-bottom: 8px;

    &:last-child {
      margin-right: 0;
    }

    &.has-dropdown {
      &:hover,
      &:focus {
        > .submenu {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
          transition: opacity .3s ease-in-out, transform .3s ease-in-out;
        }
      }
    }

    > a {
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      @media (min-width: 1025px) {
        font-size: 18px;
      }
    }

    > .submenu {
      position: absolute;
      top: 100%;
      z-index: 4;
      list-style: none;
      margin: 0;
      padding: 20px;
      font-size: 18px;
      font-weight: 600;
      background-color: $white;
      color: $blue;
      min-width: 185px;
      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
      transition: opacity .3s ease-in-out, transform .3s ease-in-out;

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 8px;
        width: 100%;
        background-image: url("../images/diagonals-blue.png");
        background-size: cover;
        background-position: 0 0;
      }

      > li {
        margin-bottom: 8px;
      }
    }
  }

  > .red-lines {
    > .submenu {
      &::before {
        background-image: url("../images/diagonals-red.png");
      }
    }
  }
}

.pc-open-menu {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.pc-close-menu {
  background-color: transparent;
  border: none;
}

.pc-offcanvas {
  background-color: rgba(19, 18, 18, 0.95);
  backdrop-filter: blur(5px);
  color: $white;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;

  &.is-open {
    transform: translateX(0);
    transition: transform .3s ease-in-out;
  }

  &__inner {
    display: flex;
    align-items: start;
    padding: 30px;
    overflow: auto;
    @media (min-width: 768px) {
      padding: 50px;
    }
  }
}

.pc-offcanvas-menu {
  margin: 0;
  padding: 0 0 0 30px;
  list-style: none;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;

  > li {
    margin-bottom: 50px;

    &.has-dropdown {
      .pc-dropdown-button {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 20px;
        margin-top: 8px;
        border: none;
        background-size: contain;
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7821 7.17278C12.3663 7.56956 12.3663 8.43044 11.7821 8.82722L1.81188 15.5994C1.14794 16.0503 0.249999 15.5748 0.249999 14.7722L0.25 1.22785C0.25 0.42523 1.14793 -0.0503457 1.81188 0.400628L11.7821 7.17278Z' fill='white'/%3E%3C/svg%3E%0A");
        transition: transform .3s ease-in-out;

        &.rotate {
          transition: transform .3s ease-in-out;
          transform: rotate(90deg);
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .submenu {
      list-style: none;
      text-transform: capitalize;
      padding-left: 20px;
      visibility: hidden;
      overflow: hidden;
      opacity: 0;
      height: 0;
      transition: height .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;

      &.is-open {
        visibility: visible;
        opacity: 1;
        transition: height .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
      }

      > li {
        margin-bottom: 30px;

        &:first-child {
          margin-top: 20px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
