body {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  font-family: $body-font-family;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 16px;
  margin-top: 0;
}

h1, .h1 {
  font-size: 80px;
  font-family: $headings-font-family-70;
}

h2, .h2 {
  font-size: 60px;
  font-family: $headings-font-family-68;
}

h3, .h3 {
  font-size: 50px;
}

h4, .h4 {
  font-size: 50px;
  font-family: $headings-font-family-70;
}

h5, .h5 {
  font-size: 30px;
  font-family: $headings-font-family-70;
}


p {
  margin-top: 0;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}
